1hdemo/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "1hdemo"
		},
		"ADLSGen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLSGen2'"
		},
		"ASD_west_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ASD_west'"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"WASB_labfiles_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'WASB_labfiles'"
		},
		"ADLSGen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://njdatalakeg2.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/tweetcopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_1xo",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "tweets/2019/12/05/"
							},
							{
								"name": "Destination",
								"value": "stg.tweets"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table stg.tweets"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"redirectIncompatibleRowSettings": {
								"linkedServiceName": {
									"referenceName": "WASB_labfiles",
									"type": "LinkedServiceReference"
								},
								"path": "tweets/errors"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "user_id",
											"type": "String"
										},
										"sink": {
											"name": "user_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "status_id",
											"type": "String"
										},
										"sink": {
											"name": "status_id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "created_at",
											"type": "String"
										},
										"sink": {
											"name": "created_at",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "screen_name",
											"type": "String"
										},
										"sink": {
											"name": "screen_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "text",
											"type": "String"
										},
										"sink": {
											"name": "text",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String"
										},
										"sink": {
											"name": "source",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "display_text_width",
											"type": "String"
										},
										"sink": {
											"name": "display_text_width",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "is_quote",
											"type": "String"
										},
										"sink": {
											"name": "is_quote",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "is_retweet",
											"type": "String"
										},
										"sink": {
											"name": "is_retweet",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "favorite_count",
											"type": "String"
										},
										"sink": {
											"name": "favorite_count",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "retweet_count",
											"type": "String"
										},
										"sink": {
											"name": "retweet_count",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "lang",
											"type": "String"
										},
										"sink": {
											"name": "lang",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_1xo",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_1xo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "merge with historical tweets",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_1xo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_process_new_tweets]"
						},
						"linkedServiceName": {
							"referenceName": "ASD_west",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_1xo')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_1xo')]",
				"[concat(variables('factoryId'), '/linkedServices/ASD_west')]",
				"[concat(variables('factoryId'), '/linkedServices/WASB_labfiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSGen2dest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "demofiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_1xo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ASD_west",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "user_id",
						"type": "bigint",
						"precision": 19,
						"scale": 0
					},
					{
						"name": "status_id",
						"type": "bigint",
						"precision": 19,
						"scale": 0
					},
					{
						"name": "created_at",
						"type": "datetime2",
						"precision": 19,
						"scale": 0
					},
					{
						"name": "screen_name",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "text",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "source",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "display_text_width",
						"type": "smallint",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "is_quote",
						"type": "bit",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "is_retweet",
						"type": "bit",
						"precision": 1,
						"scale": 0
					},
					{
						"name": "favorite_count",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "retweet_count",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "lang",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "tweets"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ASD_west')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_1xo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WASB_labfiles",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "2019/12/05",
						"container": "tweets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WASB_labfiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tripdata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "201508_trip_data.csv",
						"folderPath": "babs/data",
						"fileSystem": "demofiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSGen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLSGen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLSGen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASD_west')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ASD_west_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WASB_labfiles')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "babs, taxi and other data sets",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('WASB_labfiles_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_1xo')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "tweetcopy",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 6,
					"startTime": "2019-11-15T15:34:00.000Z",
					"endTime": "2019-12-06T08:22:00.000Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/tweetcopy')]"
			]
		}
	]
}